body {
  background-color: rgb(49, 102, 216);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 3px;
}

h1 {
  text-align: center;
  color: #fff;
}

#contenedorPaises {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 180px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #333;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.card img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

#buscar {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 60%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333;
}